/* contact */

.wrap-background{
    background-image: url('images/background_pattern.png');
}
.contact-title {
    color:#F1F1F1;
    font-weight: bold;
    margin-bottom: 10px;
}
.grid-contact{
    text-align: left;
}